# Dependencies
node_modules/

# Vite build output
dist/
.vite/

# Env files (VERY IMPORTANT)
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store

# Editor-specific
.vscode/
.idea/
